.spacerS {
  margin: 15px 15px 15px 15px;
}

.spacerM {
  margin: 30px 30px 30px 30px;
}

.spacerL {
  margin: 50px 50px 50px 50px;
}

.back {
  height: 300px;
}

.small {
  border-radius: 19px;
  background-color: grey;
  height: 300px;
  width: 216px;
}
